{{formProject.value | json}}

<p-card>
    <ng-template pTemplate="header">
        <h1>Project</h1>
    </ng-template>
    <div class="p-fluid">
        <form [formGroup]="formProject" (ngSubmit)="onSubmit">
            <div class="p-field">
                <label for="id">ID:</label>
                <input pInputText type="text" id="id" formControlName="id">
            </div>
            <div class="p-field">
                <label for="code">CODE:</label>
                <input pInputText type="text" id="code" formControlName="code">
                <div 
                *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                    <small *ngIf="codeField.errors?.required" class="p-error">
                        EL campo es requerido
                    </small>
                    <small *ngIf="codeField.errors?.maxlength" class="p-error">
                        Maximo de caracteres es 5
                    </small>
                    <small *ngIf="codeField.errors?.minlength" class="p-error">
                        Minimo de caracteres es 3
                    </small>
                </div>
            </div>
            <div class="p-field">
                <label for="date">DATE:</label>
                <input pInputText type="text" id="date" formControlName="date">
            </div>
            <div class="p-field">
                <label for="description">DESCRIPTION:</label>
                <input pInputText type="text" id="description" formControlName="description">
            </div>

            <div class="p-field">
                <label for="description">APROVED:</label>
                <input pInputText type="text" id="aproved" formControlName="aproved">
            </div>
            <div class="p-field">
                <label for="id">TITLE:</label>
                <input pInputText type="text" id="title" formControlName="title">
            </div>
            <div class="p-field">
                <button pButton type="submit" label="Guardar" icon="pi pi-save"></button>
            </div>
        </form>
    </div>


</p-card>




<br>

<h1>Projects</h1>

<table>
    <tr>
        <th>
            id
        </th>
        <th>
            title
        </th>
    </tr>
    <tr *ngFor="let project of projects ">
        <td>
            {{project.id}}
        </td>
        <td>
            {{project.code}}
        </td>
        <td>
            <button pButton type="button" label="Mostrar" (click)="selectProject(project)"></button>
            <button pButton type="button" label="eliminar" class="p-button-danger"
                (click)="deleteProject(project)"></button>
            <button pButton type="button" label="modificar" class="p-button-warning"
                (click)="updateProject(project)"></button>
        </td>
    </tr>

</table>