<h3>Ingresa tus datos ♥ </h3>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">Ingresa tu nombre</label>
</span>
<br>
<br>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">Ingresa tu Apellido</label>
</span>
<br>

<input type="password" pPassword placeholder="Ingresa tu clave" />
<br>
<br>
<p-slider formControlName="Edad"></p-slider>

<br>
<br>
<p-inputSwitch formControlName="enabled"></p-inputSwitch>



<button pButton type="button" label="Registrar"></button>

<button pButton type="button" label="Eliminar" class="p-button-danger"></button>